h5, p, li {
  color: #687980;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  line-height: 2rem;
  font-size: 1.1rem;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  padding-bottom: 3%;
}

/* Navigation Bar */
.btn-navbar {
  background-color: #A2DBFA;
  border-color: #A2DBFA;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  width: 200px;
}

.navbar {
  padding-top: 3%;
}

.logo-image {
  width: 80%;
}

/* Heading */
#heading {
  background-image: url(../images/background.png);
  background-size: cover;
  margin-bottom: 100px;
}

.btn-title {
  background-color: #EA7AD7;
  color: white;
  font-weight: 600;
  width: 300px;
  border-color: #EA7AD7;
}

.head-title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 1.5;
  padding-right: 5%;
}

.mockups-image {
  width: 100%;
  padding: 7% 0 7% 5%;
}

.title-column {
  padding-top: 7%;
}

/* Features */
#conversation-image {
  margin-left: 0;
  margin-top: 0;
}

#middle-section {
  margin-bottom: 250px;
}

.middle-section-image {
  margin-left: 30%;
  width: 70%;
}

.middle-section-text {
  padding-top: 4%;
}

.row-middle {
  border-radius: 10px;
  margin: 0 50px 100px;
  padding: 6%;
  border-width: medium;
  box-shadow: 2px 2px 5px 2px #E1E5EA;
}

/* Call for Action */
#cta {
  background-color: white;
  color: black;
  position: relative;
  bottom: 130px;
  z-index: 1;
  margin: 0 20%;
  text-align: center;
  border-radius: 10px;
  padding: 3% 6%;
  border-width: medium;
  box-shadow: 0 0 2px 2px #E1E5EA;
}

/* Footer */
#footer {
  color: white;
  background-color: #222831;
  padding-bottom: 15px;
}

ul {
  list-style-type: none;
  padding: 0;
}

.copyright {
  font-size: 0.8rem;
  display: flex;
  justify-content: flex-end;
  left: 10px;
}

.footer-logo {
  margin-bottom: 50px;
}

.icon {
  padding-top: 11px;
  position: absolute;
  left: 0;
}

.icon-social {
  padding-right: 6%;
  color: white;
}

.middle-footer-column ul li a {
  text-decoration: none;
  color: white;
  transition: all 0.3s ease;
}

.middle-footer-column ul li a:hover {
  color: white;
  padding-left: 10px;
}

.text-footer {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  width: 70%;
  position: relative;
  padding-left: 10%;
}

.text-footer, li {
  font-size: 0.9rem;
  color: white;
}

/************************* Responsive *************************************/
@media (max-width: 900px) {
  h3 {
    padding-top: 3%;
    font-size: 1.1rem;
  }

  h5, p, li, .btn-navbar {
    font-size: 0.7rem;
    line-height: 1.3rem;
  }

  /* Navbar */
  .btn-navbar {
    width: 40%;
  }

  .logo-image {
    display: flex;
    justify-content: flex-start;
    width: 60%;
  }

  .navbar {
    display: flex;
    flex-wrap: nowrap;
  }

  /* Heading */
  #heading {
    text-align: center;
    margin-bottom: 5%;
  }

  .btn-title {
    font-size: 0.9rem;
    margin-bottom: 3%;
    width: 70%;
  }

  .head-title {
    font-size: 1.5rem;
  }

  .mockups-image {
    padding-left: 0;
  }

  /* Features */
  #middle-section {
    text-align: center;
    padding: 0;
    margin-bottom: 40%;
  }

  .middle-section-text {
    display: flex;
    flex-direction: column;
    order: 1;
    padding: 0 13% 5%;
  }

  .middle-section-image, #conversation-image {
    display: flex;
    order: -1;
    margin: 5% auto 5% auto;
  }

  .row-middle {
    margin: 0 5% 7%;
    padding: 0;
  }

  /* Call for Action */
  #cta {
    margin: 0 5%;
    bottom: 100px;
  }

  /* Footer */
  .about-footer-column {
    width: 100%;
    padding-right: 50%;
  }

  .copyright {
    justify-content: center;
  }

  .footer-column {
    padding: 5% 3%;
  }

  .social {
    text-align: center;
  }
}
